@model User

<div class="mb-3">
    <label asp-for="FirstName" class="form-label">Firstname</label>
    <input asp-for="FirstName" class="form-control" required>
</div>
<div class="mb-3">
    <label asp-for="LastName" class="form-label">Lastname</label>
    <input asp-for="LastName" class="form-control" required>
</div>
<div class="mb-3">
    <label asp-for="Email" class="form-label">Email address</label>
    <input asp-for="Email" class="form-control" required>
</div>
<div class="mb-3">
    <label asp-for="Password" class="form-label">Password</label>
    <input asp-for="Password" class="form-control" type="password" required>
</div>