@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MVC_Vibez.Model.User

@{
    ViewBag.Title = "Recovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
}

<div class="loglogo-wrapper">
    <div class="loglogo">
        <img src="~/images/logo.png" class="mb-3" alt="Logo" style="height: auto; max-height: 50px; width: auto;">
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 style="color: #52F6FB;">@ViewBag.Title</h1>
            <form method="post" asp-action="Recovery">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert">
                            @Html.ValidationMessageFor(model => model.Email, "No acount found with this Email", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email address</label>
                    <input asp-for="Email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Recover password</button>
                <a class="btn btn-secondary" asp-controller="Login" asp-action="Index">Back to login</a>
            </form>

        </div>
    </div>
</div>
