@model MVC_Vibez.Model.ResetPasswordModel

<h1>Reset Password</h1>

<form asp-controller="Login" asp-action="SetNewPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <div>
        <label>New Password</label>
        <input type="password" asp-for="NewPassword" required />
    </div>
    <div>
        <label>Confirm New Password</label>
        <input type="password" asp-for="ConfirmNewPassword" required />
    </div>
    <button type="submit">Set New Password</button>
</form>