@{
    ViewData["Title"] = "Home Page";
}
<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container-fluid">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVC_Vibez</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">

					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Profiel" asp-action="Index">Profiel</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<header>
    <div class="btnContinue">
        <h2>Continue to website</h2>
        <a asp-action="Login" type="submit">
			<img src="/images/logo.png" class="mk-logo" alt="Continue to website">
        </a>
    </div>
</header>