@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="btnContinue">
        <h2>Continue to website</h2>
        <a asp-controller="Login" asp-action="Index" type="submit">
			<img src="/images/logo.png" class="mk-logo" alt="Continue to website">
        </a>
    </div>
</header>
