@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url(../images/intro-page.jpg)">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Profiel" asp-action="Index">Profiel</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<header>
    <div>
    <div class="btnContinue">
        <a asp-action="Login" type="submit">
			<img src="/images/logo.png" class="mk-logo" alt="Continue to website">
        </a>
    </div>
    <div class="txtContainer">
            Play. Forward. Pause. Repeat. Get ready to join the Vibez family, get amazing playlists based on what you listen to the most. Immense music library joined by independent artists ready for you to discover. No advertisements, just music.
            The future is here, the future is Vibez.
    </div>
        
    </div>
</header>
</body>
