@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="btnContinue">
        <h2>Continue to website</h2>
        <a href="../Vibez/Pages/home.html">
            <img src="" class="mk-logo" alt="Continue to website">
        </a>
    </div>
</header>
