@{ ViewData["Title"] = "Home Page"; }

@section Styles {<link rel="stylesheet" type="text/css" href="~/css/Loading.css"/>}

<body style="background-image: url(../images/intro-page.jpg)">
<header>
	<div>
		<div class="btnContinue">
			<a asp-controller="Login" asp-action="Index" type="submit">
				<img src="/images/logo.png" class="mk-logo" alt="Continue to website">
			</a>
		</div>
		<div class="txtContainer">
			Play. Forward. Pause. Repeat. Get ready to join the Vibez family, get amazing playlists based on what you listen to the most. Immense music library joined by independent artists ready for you to discover. No advertisements, just music.
			The future is here, the future is Vibez.
		</div>
	</div>
</header>
</body>