@{
    ViewData["Title"] = "About page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Navbar")

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/About.css" />
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
<header class="abHeader">
    <h1>Welcome to Vibez</h1>
</header>
<div class="abContainment">
    <div class="abText">
        <h2 class="center">Who We Are</h2>
        <p>
                Vibez is a music streaming platform powered by the Spotify API, made by people who love music just as much as you do! 
                It is Vibez's mission to allow all artists, 
                new and experienced, to promote their music and reach new audiences.
        </p>
        <h2>Meet the Team</h2>
        <p>
                Pictured below are the team that made Vibez possible including:
                the one and only swamp boss,
                the code donkeys,
                the web development donkeys,
                and the all-around donkey.
        </p>
    </div>
</div>
<img src="~/images/Temp.jpg" alt="Company Image" class="abImage">
</body>


