@{
    ViewData["Title"] = "About page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div>
        <p class="txtAbout">
            Vibez is a music streaming platform powered by the Spotify API,
            made by people who love music just as much as you do! It is Vibez's mission to allow all artists,
            new and entrenched, to promote their music and reach new audiences.

        </p>
        <div class="logoBtn">
            <a asp-controller="Program" asp-action="Index" type="submit">
                <img src="/images/Logo.png" class="mk-logo" alt="Continue to website">
            </a>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Library" asp-action="Index">Library</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

</body>

@* to be changed:
er moet nog een meet the team stuk komen onder de text
een foto van ons alle 4 samen zou leuk zijn + onze bijnamen (swamp boss etc)
*@

