@model MVC_Vibez.Model.User

@{
    ViewData["Title"] = "About page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_Navbar", Model)

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/About.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Navbar.css" />
}

<section class="abContainment container">
    <div class="row">
        <div class="col">
            <div class="abText">
                <h2 class="center">Who We Are</h2>
                <h2>Listen. Enjoy. Discover.</h2>
                <p>Vibez is your ultimate destination for an immersive music and video experience. Our web application is designed to bring the world of songs, artists, playlists, YouTube videos, and lyrics right to your fingertips, ensuring you have all the entertainment you need in one place.</p>
                <h2>What is Vibez?</h2>
                <p>Vibez is an innovative platform where you can search for and play your favorite songs, explore new artists, and manage playlists effortlessly. With our user-friendly interface, discovering new music and videos has never been easier.</p>
                <h2>Key Features</h2>
                <p><span class="bold-text">Extensive Spotify Library:</span> Explore a vast collection of songs, artists, and playlists. Whether you're into the latest hits or timeless classics, our extensive library has something for everyone.</p>
                <p><span class="bold-text">YouTube Video Integration:</span> Search and watch your favorite music videos, live performances, and more. With YouTube integration, Vibez brings all your visual entertainment to one convenient platform.</p>
                <p><span class="bold-text">Lyrics Lookup with Genius:</span> Dive deeper into the music you love by looking up lyrics with Genius integration. Understand the stories and meanings behind your favorite songs, enhancing your connection to the music.</p>
                <h2>Our Mission</h2>
                <p>At Vibez, we believe in the power of music and videos to connect people. Our mission is to create a space where you can easily explore and enjoy these art forms, making your entertainment experience both enjoyable and meaningful.</p>

            </div>
        </div>
    </div>
</section>

<section class="abImageContainer container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <img src="~/images/Teambuild.png" alt="Company Image" class="abImage img-fluid">
        </div>
    </div>
</section>