@{
    ViewData["Title"] = "About page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/About.css" />
}



<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Program" asp-action="Index">
                <img src="~/images/logo.png" alt="Logo" style="height: auto; max-height: 50px; width: auto;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Library" asp-action="Index">Library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section class="abHeader border rounded mb-3 mx-auto">
    <h1 class="p-3">Welcome to Vibez</h1>
</section>

<section class="abContainment container">
    <div class="row">
        <div class="col">
            <div class="abText">
                <h2 class="center">Who We Are</h2>
                <p>Vibez is a music streaming platform powered by the Spotify API, made by people who love music just as much as you do! It is Vibez's mission to allow all artists, new and experienced, to promote their music and reach new audiences.</p>
                <h2>Meet the Team</h2>
                <p>Pictured below are the team that made Vibez possible including: the one and only swamp boss, the code donkeys, the web development donkeys, and the all-around donkey.</p>
            </div>
        </div>
    </div>
</section>

<section class="abImageContainer container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <!-- Center the column content -->
            <img src="~/images/Temp.jpg" alt="Company Image" class="abImage img-fluid">
        </div>
    </div>
</section>
