@{
    ViewData["Title"] = "Program";
}
@Html.Partial("_Navbar")

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/Program.css" />
</head>
<body>

   

    <div class="sidebar bg-light">
        <div class="search-box">
            <input type="text" id="txtSearch" class="form-control mb-3" placeholder="Search">
        </div>
        <div id="searchResults" class="search-results list-group">
            <!-- Bootstrap list group items will be dynamically generated here -->
        </div>
    </div>

    <div class="main-content">
        <div class="text-center">
            <h1 class="display-4">Program data</h1>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var typingTimer;
            var doneTypingInterval = 300;

            $("#txtSearch").keyup(function () {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(performSearch, doneTypingInterval);
            });

            function performSearch() {
                var searchText = $("#txtSearch").val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Autocomplete", "Program")",
                    data: { searchText: searchText },
                    success: function (response) {
                        if (response.success) {
                            var listArtistHtml = "Songs";
                            $.each(response.songs.slice(0, 6), function (index, song) {
                                listArtistHtml += '<a href="#" class="list-group-item list-group-item-action">';
                                listArtistHtml += '<div class="artist-info">';
                                listArtistHtml += '<img src="' + song.image + '" class="img-fluid" />';
                                listArtistHtml += '<p>' + song.name + '</p>';
                                listArtistHtml += '</div>';
                                listArtistHtml += '</a>';
                            });
                            listArtistHtml += "Artists";
                            $.each(response.artists.slice(0, 6), function (index, artist) {
                                listArtistHtml += '<a href="#" class="list-group-item list-group-item-action">';
                                listArtistHtml += '<div class="artist-info">';
                                listArtistHtml += '<img src="' + artist.image + '" class="img-fluid" />';
                                listArtistHtml += '<p>' + artist.name + '</p>';
                                listArtistHtml += '</div>';
                                listArtistHtml += '</a>';
                            });
                            
                            listArtistHtml += "Albums";
                            $.each(response.albums.slice(0, 6), function (index, albums) {
                                listArtistHtml += '<a href="#" class="list-group-item list-group-item-action">';
                                listArtistHtml += '<div class="artist-info">';
                                listArtistHtml += '<img src="' + albums.image + '" class="img-fluid" />';
                                listArtistHtml += '<p>' + albums.name + '</p>';
                                listArtistHtml += '</div>';
                                listArtistHtml += '</a>';
                            });
                            listArtistHtml += "Playlists";
                            $.each(response.playlists.slice(0, 6), function (index, playlists) {
                                listArtistHtml += '<a href="#" class="list-group-item list-group-item-action">';
                                listArtistHtml += '<div class="artist-info">';
                                listArtistHtml += '<img src="' + playlists.image + '" class="img-fluid" />';
                                listArtistHtml += '<p>' + playlists.name + '</p>';
                                listArtistHtml += '</div>';
                                listArtistHtml += '</a>';
                            });
                            $("#searchResults").html(listArtistHtml);
                        } else {
                            console.error("An error occurred: " + response.error);
                        }
                    },
                    error: function () {
                        console.error("An error occurred while processing your request.");
                    }
                });
            }
        });
    </script>

</body>
</html>
