@{
}

<div>
	<input type="text" id="txtSearch" />
	<button id="btnSearch">Search</button>
</div>

<div id="searchResults"></div>

<script>
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            var searchText = $("#txtSearch").val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("Search", "Program")",
                data: { searchText: searchText },
                success: function (response) {
                    if (response.success) {
                        var listArtistHtml = "";
                        $.each(response.artists, function (index, artist) {
                            listArtistHtml += "<div>";
                            listArtistHtml += "<img src='" + artist.Image + "' />";
                            listArtistHtml += "<p>" + artist.Name + "</p>";
                            listArtistHtml += "</div>";
                        });
                        $("#searchResults").html(listArtistHtml);
                    } else {
                        alert("An error occurred: " + response.error);
                    }
                },
                error: function () {
                    alert("An error occurred while processing your request.");
                }
            });
        });
    });
</script>