@model MVC_Vibez.Model.ProgramPage

@{
    ViewData["Title"] = "YoutubeApi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_Navbar", Model.user)

@section Styles {
    <link rel="stylesheet" href="~/css/Navbar.css"/>
    <link rel="stylesheet" href="~/css/Youtube.css"/>
}

@section Scripts {
    <script src="~/js/Youtube.js"></script>
}

<div class="container-fluid Font">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar bg-light">
                <div class="search-box">
                    <form class="search-form" onsubmit="event.preventDefault();searchVideos();">
                        <input type="text" name="searchQuery" id="searchQuery" class="form-control mb-3 input" placeholder="Search for videos" required>
                        <button style="margin-" type="submit" class="btn btnSend btn-primary">Search</button>
                    </form>
                    <div id="loading" style="display: none;">Loading...</div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="content">
                <div id="videos" class="search-results"></div>
            </div>
        </div>
    </div>
</div>