@{
    ViewData["Title"] = "Contact Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Navbar")

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/contact.css" />
}

<div class="container-contact-form">
    <div class="text-center">
        <h1 class="display-4">Contact form</h1>
    </div>
    @model ContactFormSubmission
    @using (Html.BeginForm("SubmitContactForm", "Contact", FormMethod.Post))
    {
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" required />
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

        <label asp-for="Message" class="form-label">Message</label>
        <textarea asp-for="Message" class="form-control" required rows="4"></textarea>
        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })

        <button class="btn btnSend btn-primary" type="submit">Send</button>
    }
</div>
