@model MVC_Vibez.Model.ProgramPage

@{
    ViewBag.Title = "Contact Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_Navbar", Model.user)

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/contact.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/Navbar.css"/>
}

@if (TempData["SuccessMessage"] != null)
{
    <div id="successMessage" class="alert alert-succes success-message" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<div id="contactFormContainer" class="container-contact-form @(TempData["SuccessMessage"] != null ? "with-message" : "without-message")">
    <div class="text-center">
        <h1 class="display-4 Fonth1">Contact form</h1>
    </div>

    @using (Html.BeginForm("SubmitContactForm", "Contact", FormMethod.Post))
    {
        <label asp-for="contactForm.Email" class="form-label Fontlabel">Email</label>
        <input asp-for="contactForm.Email" class="form-control" required/>
        @Html.ValidationMessageFor(model => model.contactForm.Email, "", new { @class = "text-danger" })

        <label asp-for="contactForm.Message" class="form-label Fontlabel">Message</label>
        <textarea asp-for="contactForm.Message" class="form-control" required rows="4"></textarea>
        @Html.ValidationMessageFor(model => model.contactForm.Message, "", new { @class = "text-danger" })

        <button class="btn btnSend btn-primary" type="submit">Send</button>
    }
</div>