body {
    align-items: center;
    background: linear-gradient(to bottom, white, gray);
    justify-content: center;
    margin: 0;
    height: auto;
}

.navbar {
    background-color: transparent !important;
    border: solid rgb(0, 0, 0, 0.2) 3px;
    border-radius: 35px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

    .navbar-nav .nav-item.dropdown .dropdown-menu {
        display: none;
    }

    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .navbar-nav .nav-item.dropdown .dropdown-toggle::after {
        display: none;
    }

    .navbar-nav .nav-item .nav-link {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
        border-radius: 15px;
        transition: background-color 0.3s;
    }

        .navbar-nav .nav-item .nav-link:not(.dropdown-toggle):hover {
            background-color: rgba(239, 209, 9, 0.6);
        }

.abContainment {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}

.abText {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #BEDC6D;
    border-radius: 25px;
    margin-top: 20px;
    padding: 25px;
    position: relative;
    text-align:center;
}

.abText h2 {
    font-weight: bold;
}

.abImageContainer {
    margin-top: 20px;
}

.abImage {
    max-width: 100%;
    border: 1px solid black;
    margin: 0 auto; /* Center the image horizontally */
}

.abHeader {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #BEDC6D !important;
    border-radius: 25px;
    max-width: 400px;
    padding: 10px;
    text-align: center;
}

.center {
    margin-bottom: 20px;
}
