body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, gray, white);
}

.navbar {
    margin-top: 15px;
    margin-bottom: 0;
    border-radius: 35px;
    background-color: transparent !important;
    box-shadow: none !important;
    border: solid rgb(0, 0, 0, 0.2) 1px;
}

.container-contact-form {
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgb(0, 0, 0, 0.2);
    padding: 25px;
    border-radius: 25px;
    border: #BEDC6D solid 2px;
}

.btnSend {
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.btn-primary {
    background-color: #BEDC6D;
    border-color: #BEDC6D;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        background-color: #52F6FB;
        border-color: #52F6FB;
    }
