.container-contact-form {
    background: linear-gradient(to right, #A8ECEE, #E6F2C2);
    border: 2px solid #BEDC6D;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 25px;
    position: relative;
    width: 50%;
}

.Fontlabel {
    font-family: 'CustomFont';
    font-size: 30px;
}

.Fonth1 {
    font-family: 'CustomFont';
    font-size: 80px;
}

.btnSend {
    left: 50%;
    margin-top: 40px;
    position: absolute;
    transform: translateX(-50%);
}

.btn-primary {
    background-color: #BEDC6D;
    border-color: #BEDC6D;
    font-family: 'CustomFont', Arial, sans-serif;
    font-size: 30px;
    height: 50px;
    width: 200px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #52F6FB;
    border-color: #52F6FB;
    font-family: 'CustomFont', Arial, sans-serif;
}