*::before,
*::after {
    box-sizing: border-box;
    /* Standard syntax */
    -webkit-box-sizing: border-box;
    /* For Safari 5.1 to 6.0 */
    -moz-box-sizing: border-box;
    /* For Firefox 3.6 to 15 */
}

body {
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(to bottom, gray, white);
}

.navbar {
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 35px;
    background-color: transparent !important;
    border: solid rgb(0, 0, 0, 0.2) 1px;
}

.container-contact-form {
    width: 50%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 25px;
    border-radius: 25px;
    border: 2px solid #BEDC6D;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}


.btnSend {
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.btn-primary {
    background-color: #BEDC6D;
    border-color: #BEDC6D;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        background-color: #52F6FB;
        border-color: #52F6FB;
    }
