body {
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(to bottom, gray, white);
    height: auto;
}

.navbar {
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 35px;
    background-color: transparent !important;
    border: solid rgb(0, 0, 0, 0.2) 1px;
}