body {
    align-items: center;
    background: linear-gradient(to bottom, white, gray);
    justify-content: center;
    margin: 0;
}

.navbar {
    background-color: transparent !important;
    border: solid rgb(0, 0, 0, 0.2) 3px;
    border-radius: 35px;
    margin-bottom: 20px;
    margin-top: 15px;
}
