.col-md-4 {
    background: #F9D354;
    border: #BEDC6D solid 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    width: 80%;
}

.Font h2, h1 {
    font-family: 'CustomFont';
    font-size: 67px;
}
.Font label {
    font-family: 'CustomFont';
    font-size: 30px;
}
.Font p, a {
    font-family: 'CustomFont';
    font-size: 20px;
}
.btn-primary {
    background-color: #BEDC6D;
    border-color: #BEDC6D;
    font-family: 'CustomFont';

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #52F6FB;
    border-color: #52F6FB;
}

.btn-secondary {
    background-color: #BEDC6D;
    border-color: #BEDC6D;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #52F6FB;
    border-color: #52F6FB;
}

.loglogo-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.loglogo {
    display: flex;
    height: 80px;
    justify-content: center;
    width: auto;
}