.Profile_card {
    background: linear-gradient(to right, #A8ECEE, #E6F2C2);
    border: 2px solid #BEDC6D;
    border-radius: 25px;
    margin-top: 20px;
    padding: 25px;
    position: relative;
}

.FontTitle {
    font-family: 'CustomFont';
    font-size: 50px;
}

.FontText {
    font-family: 'CustomFont';
    font-size: 30px;
}

.FontUpload {
    font-family: 'CustomFont';
    font-size: 20px;
}

.btnUpload {
    left: 50%;
    margin-top: 40px;
    position: absolute;
    transform: translateX(-50%);
}

.btn-primary {
    background-color: #BEDC6D;
    border-color: #BEDC6D;
    font-family: 'CustomFont';
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #52F6FB;
    border-color: #52F6FB;
    font-family: 'CustomFont';
}

.container { margin-top: 120px; }