body {
    align-items: center;
    background: linear-gradient(to bottom, white, gray);
    justify-content: center;
    margin: 0;
}

.navbar {
    background-color: transparent !important;
    border: solid rgb(0, 0, 0, 0.2) 3px;
    border-radius: 35px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

    .navbar-nav .nav-item.dropdown .dropdown-menu {
        display: none;
    }

    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .navbar-nav .nav-item.dropdown .dropdown-toggle::after {
        display: none;
    }

    .navbar-nav .nav-item .nav-link {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
        border-radius: 15px;
        transition: background-color 0.3s;
    }

        .navbar-nav .nav-item .nav-link:not(.dropdown-toggle):hover {
            background-color: rgba(239, 209, 9, 0.6); 
        }




.sidebar {
    border: solid black 1px;
    border-top-right-radius: 10px;
    height: calc(100vh - 70px);
    left: 0;
    max-width: 350px;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    top: 130px;
    transition: all 0.3s;
    z-index: 1;
}

.sidebar .search-box { padding: 20px; }

.sidebar .search-results { padding: 20px; }

.main-content {
    margin-left: 250px;
    padding-top: 70px;
}

.artist-info {
    align-items: center;
    display: flex;
}

.artist-info img {
    height: auto;
    margin-right: 10px;
    max-width: 50px;
}

.playlist-card { height: 100%; }

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text { margin-top: auto; }

.col-md-2 { margin-bottom: 20px; }

#mediaPlayer {
    background-color: transparent;
    bottom: 0;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: fixed;
    right: 0;
    width: 86%;
    z-index: 1;
}