body {
    align-items: center;
    background: linear-gradient(to bottom, white, gray);
    justify-content: center;
    margin: 0;
    height: auto;
}

.navbar {
    background-color: whitesmoke !important;
    border: solid rgb(0, 0, 0, 0.2) 3px;
    border-radius: 35px;
    margin-bottom: 20px;
    margin-top: 15px;
    max-width: 1000px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

    .navbar-nav .nav-item.dropdown .dropdown-menu {
        display: none;
    }

    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .navbar-nav .nav-item.dropdown .dropdown-toggle::after {
        display: none;
    }

    .navbar-nav .nav-item .nav-link {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
        border-radius: 15px;
        transition: background-color 0.3s;
    }

        .navbar-nav .nav-item .nav-link:not(.dropdown-toggle):hover {
            background-color: rgba(239, 209, 9, 0.6);
        }

.playlist-container {
    top: 130px;
    max-height: 680px;
    overflow-y: auto;
    position: fixed;
    right: 0;
    width: 86%;
}

.playlist-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playlist-item {
    margin: 10px;
    width: calc(16.666% - 20px);
}

.sidebar {
    border: solid black 1px;
    border-top-right-radius: 10px;
    height: calc(100vh - 70px);
    left: 0;
    max-width: 350px;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    top: 130px;
    transition: all 0.3s;
    z-index: 1;
}

    .sidebar .search-box {
        padding: 20px;
    }

    .sidebar .search-results {
        padding: 20px;
    }

.main-content {
    margin-left: 250px;
    padding-top: 0; /* Verwijder de bovenvulling */
}

.artist-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

    .artist-info img.img-fluid {
        height: auto;
        margin-right: 10px;
        max-width: 50px;
    }

.favorite-btn, .play-btn {
    max-height: 30px;
}

.favorite-play-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.favorite-btn {
    margin-right: 10px; /* Pas de marge tussen de knoppen aan indien nodig */
}

.playlist-card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    margin-top: auto;
}

.col-md-2 {
    margin-bottom: 20px;
}

.alert {
    text-align: center;
    width: 50%;
    margin: 20px auto;
    margin-left: 200px;
}

.alert-visible {
    border: 2px solid #BEDC6D;
    background-color: rgba(239, 209, 9, 0.6);
}

#mediaPlayer {
    position: absolute;
    margin-top: 10px; /* Verhoog de marge vanaf de bovenkant */
    margin-left: 200px; /* Halve breedte van het element */
    width: 500px;
    text-align: center;
}

    #mediaPlayer iframe {
        margin: 0 auto;
        display: block;
        height: 500px;
        width: 100%;
    }