.sidebar {
    height: calc(100vh - 80px);
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed !important;
    top: 80px;
    transition: all 0.3s;
    z-index: 1;
}

.sidebar .search-box {
    padding: 20px;
}

.sidebar .search-results {
    padding: 20px;
}

.main-content {
    margin-left: 270px;
    padding-top: 70px;
}

.artist-info {
    align-items: center;
    display: flex;
}

.artist-info img {
    height: auto;
    margin-right: 10px;
    max-width: 50px;
}