html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

html {
    min-height: 100vh;
    position: relative;
}

body {
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


footer { text-align: center; }