.sidebar {
    border: solid black 1px;
    border-top-right-radius: 10px;
    height: calc(100vh - 70px);
    left: 0;
    max-width: 350px;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    top: 130px;
    transition: all 0.3s;
    z-index: 1;
}

.sidebar .search-box, .sidebar .search-results { padding: 20px; }

.search-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input, .btnsend {
    border: solid 2px #BEDC6D;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #BEDC6D;
    border-color: #BEDC6D;
}

.content {
    margin-top: 100px;
    padding: 25px;
}

.search-results {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.search-results iframe {
    border-radius: 15px;
    height: 110%;
    width: 300px;
}

.border-active { background-color: rgba(0, 0, 0, 0.2); }